<section class="section section--approuch anim-scroll-up">
  <div class="container--lg">
    <div class="approach__inner">
      <div class="approach__tabs-container w-tabs">
        <div class="approach__tabs-menu w-tab-menu">
          <a class="approach__tabs-link w-inline-block w-tab-link w--current">
            <div class="approach__number-container">
              <div class="approach__tab-number">1</div>
            </div>
            <div class="approach__link-text">Big<br />Data</div>
            <div class="approcah__tabs-hover"></div>
           </a>
            <a class="approach__tabs-link w-inline-block w-tab-link">
                <div class="approach__number-container">
              <div class="approach__tab-number">2</div>
            </div>
            <div class="approach__link-text">Event-<br />Driven</div></a>
            <a class="approach__tabs-link w-inline-block w-tab-link">
                <div class="approach__number-container">
              <div class="approach__tab-number">3</div>
            </div>
            <div class="approach__link-text">
              Artifical<br />Intelligence
            </div>
            </a>
            <a class="approach__tabs-link w-inline-block w-tab-link">
                <div class="approach__number-container">
              <div class="approach__tab-number">4</div>
            </div>
            <div class="approach__link-text">Predictive<br />Analytics</div>
        </a>
        </div>
        <div class="approach__tabs-content w-tab-content">
          <div class="approach__tab-pane w-tab-pane w--tab-active" >
            <div class="approach__tab-container">
              <div class="approach__img-container">
                <img src="../../assets/fonts/63a1773692843c4162b68cc6_big%20data.svg"
                  alt
                  class="fullscreen-img"
                />
              </div>
              <div class="approach__text-container">
                <div class="approach__text-content">
                  <div class="heading-small margin-bottom-24 text-color-white">
                    Big Data
                  </div>
                  <div class="approach__tab-text">
                    We gather hundreds of millions of data points in order to
                    perform advanced analytics to identify the highest
                    propensity prospects.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div data-w-tab="Tab 2" class="approach__tab-pane w-tab-pane">
            <div class="approach__tab-container">
              <div class="approach__img-container">
                <img
                  loading="eager"
                  src="../../assets/fonts/63a1773692843c95ebb68ce1_event%20driven.svg"
                  alt
                  class="fullscreen-img"
                />
              </div>
              <div class="approach__text-container">
                <div class="approach__text-content">
                  <div class="heading-small margin-bottom-24 text-color-white">
                    Event-Driven
                  </div>
                  <div class="approach__tab-text">
                    We leverage real-tome event triggers to predict buying
                    cycles of consumers, providing our users with prospects who
                    would benefits services.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div  class="approach__tab-pane w-tab-pane">
            <div class="approach__tab-container">
              <div class="approach__img-container">
                <img
                  src="../../assets/fonts/63a1773692843c7c79b68ce5_artifical%20intelligence.svg"
                  alt
                  class="fullscreen-img"
                />
              </div>
              <div class="approach__text-container">
                <div class="approach__text-content">
                  <div class="heading-small margin-bottom-24 text-color-white">
                    Artifical Intelligence
                  </div>
                  <div class="approach__tab-text">
                    Our AI takes in hundreds of million of a data points to
                    increase conversation rate for our users.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div  class="approach__tab-pane w-tab-pane">
            <div class="approach__tab-container">
              <div class="approach__img-container">
                <img
                  src="../../assets/fonts/63a1773692843c5aa8b68ce2_predictive%20analytics.svg"
                  alt
                  class="fullscreen-img"
                />
              </div>
              <div class="approach__text-container">
                <div class="approach__text-content">
                  <div class="heading-small margin-bottom-24 text-color-white">
                    Predictive Analytics
                  </div>
                  <div class="approach__tab-text">
                    Our predictive analytics utillize a combination of
                    event-driven data, historical data, behavioral analytics,
                    and real-time data to predict a customer’s propensity to use
                    a service.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      
      <div class="approach__add-info">
        <h2 class="approach__title">Our approach</h2>
        <div class="approach__title-container title-container__desktop">
          <div class="approach__number-wrap">
            <div class="approach__number">200k</div>
            <div class="approach__number-text">Properties</div>
          </div>
          <div class="approach__text">
            Catalyze AI predicts to sell per year.
          </div>
          <a
            data-btn
            href="#"
            class="button button--fill w-inline-block"
            ><div class="button-text">Sign Up</div>
            <div class="btn-circles mod--btn">
              <div class="btn-circle"></div>
              <div class="btn-circle mod--2"></div></div
          ></a>
        </div>
      </div>
      <div class="approach__title-container title-container__mobile">
        <div class="approach__number">$68</div>
        <div class="approach__text">
          <span class="white-400">Trillion</span> of wealth will be passed down
          in the next 25 years
        </div>
      </div>
    </div>
  </div>
</section>
