<section class="section section--hero-finances">
  <div class="section mod--header">
    <div class="header__container">
      <div class="header__nav-site">
        <a href="#" class="header__logo-link w-inline-block"
          ><img
            src="../../assets/images/63a1773692843c4e34b68d09_logo.png"
            alt
            class="header__logo-img"
        /></a>
        <div class="header__menu-button">
          <div class="header__menu-container">
            <div class="header__menu-line menu-line__top"></div>
            <div class="header__menu-line menu-line__middle"></div>
            <div class="header__menu-line menu-line__bottom"></div>
          </div>
        </div>
      </div>
      <div class="header__wrapper">
        <div class="header__content-container">
          <div class="header__nav mod--buttons">
            <div class="dropdown mod--header w-dropdown">
              <div class="dropdown-btn mod--header w-dropdown-toggle">
                <a
                  href="#"
                  class="dropdown-btn__item mod--header w-inline-block"
                >
                  <div>
                    <img
                      src="https://global-uploads.webflow.com/62ac7c972e4338cd59f36b8d/62ac8461b0a70245efe45db7_finansial%20services.svg"
                      loading="lazy"
                      alt=""
                      class="button-icon mobile-hide"
                    />
                  </div>
                  <div>Financial Services</div>
                </a>
                <link rel="" href="#" />
                <img
                  src="../../assets/fonts/63a1773692843cd4bab68cf2_S.svg"
                  loading="eager"
                  alt
                  class="dropdown__link-icon"
                />
              </div>
              <nav class="dropdown-list mod--header w-dropdown-list">
                <div class="dropdown-content mod--header">
                  <a
                    href="#"
                    class="dropdown__item mod--header mod--1 w-inline-block"
                    ><div class="text-weight-medium">Pricing</div>
                    <div class="opacity-60">Fixed marketing cost</div></a
                  ><link rel="prerender" href="#" /><a
                    href="#"
                    class="dropdown__item mod--header mod--2 w-inline-block"
                    ><div class="text-weight-medium">Blog</div>
                    <div class="opacity-60">Basic information</div></a
                  ><link rel="prerender" href="#" />
                  <div class="dropdown__item mod--header mod--bg"></div>
                </div>
              </nav>
            </div>

            <div class="dropdown mod--header w-dropdown">
              <div class="dropdown-btn mod--header w-dropdown-toggle">
                <a
                  href="#"
                  class="dropdown-btn__item mod--header w-inline-block w--current"
                >
                  <div>
                    <img
                      src="https://global-uploads.webflow.com/62ac7c972e4338cd59f36b8d/62ac84612c54c4b210ef01c8_real%20estate.svg"
                      alt
                      class="button-icon mobile-hide"
                    />
                  </div>
                  <div>Real Estate</div></a
                ><link  href="#" /><img
                  src="../../assets/fonts/63a1773692843cd4bab68cf2_S.svg"
                  alt
                  class="dropdown__link-icon"
                />
              </div>
              <nav class="dropdown-list mod--header w-dropdown-list">
                <div class="dropdown-content mod--header">
                  <a
                    href="#"
                    class="dropdown__item mod--header mod--1 w-inline-block"
                    ><div class="text-weight-medium">Pricing</div>
                    <div class="opacity-60">Fixed marketing cost</div></a
                  ><link rel="prerender" href="#" /><a
                    href="#"
                    class="dropdown__item mod--header mod--2 w-inline-block"
                    ><div class="text-weight-medium">Blog</div>
                    <div class="opacity-60">Basic information</div></a
                  ><link rel="prerender" href="#" />
                  <div class="dropdown__item mod--header mod--bg"></div>
                </div>
              </nav>
            </div>
          </div>
          <div class="header__nav">
            <a
              id="button__sign-up"
              data-link
              href="#"
              target="_blank"
              class="button mod--singup w-inline-block"
              ><div class="button-text">Sign up</div>
              <div class="button__dot-wrap">
                <div class="button__dot"></div></div></a
            ><a
              data-w-id="c0cf6d10-7df3-5ced-c220-c4b89ebdedb8"
              href="#"
              target="_blank"
              class="button button--border mod--login w-inline-block"
              ><div class="button-text">Log in</div>
              <div>
                <svg
                  width="24px"
                  height="24px"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M14 3.15C13.5306 3.15 13.15 3.53056 13.15 4C13.15 4.46944 13.5306 4.85 14 4.85V3.15ZM14 19.15C13.5306 19.15 13.15 19.5306 13.15 20C13.15 20.4694 13.5306 20.85 14 20.85V19.15ZM14 4.85H19V3.15H14V4.85ZM19.15 5V19H20.85V5H19.15ZM19 19.15H14V20.85H19V19.15ZM19.15 19C19.15 19.0828 19.0828 19.15 19 19.15V20.85C20.0217 20.85 20.85 20.0217 20.85 19H19.15ZM19 4.85C19.0828 4.85 19.15 4.91716 19.15 5H20.85C20.85 3.97827 20.0217 3.15 19 3.15V4.85Z"
                    fill="currentColor"
                  ></path>
                  <path
                    d="M4 12H14M14 12L11 9M14 12L11 15"
                    stroke="currentColor"
                    stroke-width="1.7"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
                </div>
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    style="
      -webkit-transform: translate3d(0, 20%, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0, 20%, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0, 20%, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0, 20%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
        rotateZ(0) skew(0, 0);
    "
    class="hero__bg-wrap"
  >
    <div class="hero__bg mod--1 bg-grad-01"></div>
    <div class="hero__bg mod--2 bg-grad-01"></div>
  </div>

  <div class="container--sm">
    <div
      class="hero__grid mod--financial"
    >
      <div class="hero__text-container">
        <div class="text-wrap mod--hero-h1">
          <div class="overflow-hidden">
            <h1 class="heading-xlarge anim-load-up">
              Event-Driven <br />Listing Leads
            </h1>
          </div>
        </div>
        <div class="text-wrap mod--hero-desc">
          <div class="overflow-hidden">
            <div class="text anim-load-up">
              Not your average smart farming, not statistical analysis, but
              actionable behaviors.
            </div>
          </div>
        </div>
      </div>
      <div
        id="w-node-_898372cd-4a56-4610-d0a5-6a5a1b4c40e6-3eb68cad"
        class="hero__img-container mod--financial anim-load-scale"
      >
        <img
          src="../../assets/images/63b40de72ac12cbe1dd07e14_Dashboard-Real-Estate.webp"
          loading="eager"
          width="1061"
          alt
          class="hero__img mod--financial"
        />
        <img
          src="../../assets/fonts/63a1773692843cfc82b68d25_card.svg"
          loading="eager"
          alt
          class="hero__img mod--financial-elem-01"
        />
        <img
          src="../../assets/fonts/63a1773692843c872ab68d30_menu%20item.svg"
          loading="eager"
          alt
          class="hero__img mod--financial-elem-02"
        />
        <img
          src="../../assets/fonts/63a1773692843c5e4eb68d2f_search.svg"
          loading="eager"
          alt
          class="hero__img mod--financial-elem-03"
        />
      </div>
      <div
        class="overflow-hidden"
      >
        <div
          class="hero__buttons-container mod--financial anim-load-up"
        >
          <a
            data-btn
            href="#"
            class="button button--fill w-inline-block"
            ><div class="button-text">Get started</div>
            <div class="btn-circles mod--btn">
              <div class="btn-circle"></div>
              <div class="btn-circle mod--2"></div></div></a
          ><a
            data-btn-play
            href="https://calendly.com/catalyzeai/30-minute-meeting-catalyze"
            class="button button--green w-inline-block"
            ><div class="button-text">Book a demo</div>
            <div class="img-wrap mod--btn-play">
              <img
                src="../../assets/fonts/63a1773692843c34f5b68cb8_play.svg"
                alt
                class="img mod--btn-play"
              />
              <div class="img mod--btn-play-circle"></div></div
          ></a>
        </div>
      </div>
    </div>
    <div class="section__divider"></div>
  </div>
</section>
