/* Your custom CSS styles here */
.active-input {
  background-color: green; /* Change to your desired color */
}

.radio-button {
    background-color: green;
}



/* Assuming your mobile breakpoint is 768px */
@media screen and (max-width: 768px) {
  .card-header {
    background-color: transparent;
    border: none;
  }

  .btn-link {
    width: 100%;
    text-align: left;
  }

  .card-body {
    padding: 0;
  }
}



input[type=radio]#Green {
  accent-color: #1ad079;
}


.dot{
  margin-top: 5px;
}



/* Apply styles when hovering over the element */
a:hover {
  color: white; /* Change this to the desired hover color value */
}








