<section class="section section--opportunity">
  <div class="container--sm container--opportunity">
    <div
      data-swiper="opportunity"
      class="opportunity__slider swiper anim-scroll-up"
    >
      <div
        class="opportunity__desc-container swiper-wrapper"
      >
        <div class="opportunity__card swiper-slide">
          <div class="lottie icon-size-medium">
            <img src="https://global-uploads.webflow.com/62ac7c972e4338cd59f36b8d/62af7bbfd54cdfd5724121c7_eye.svg" loading="lazy" data-w-id="03a96f87-8484-61ab-f194-d1340bdec32d" alt="" class="opportunity__icon icon--xl" style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;">
        </div>
          <div class="overflow-hidden">
            <div class="opportunity__text-card">
              Harness the power of 30 million data points to reach your highest
              converting target market
            </div>
          </div>
        </div>
        <div class="opportunity__card swiper-slide">
          <div class="lottie icon-size-medium">
            <img src="https://global-uploads.webflow.com/62ac7c972e4338cd59f36b8d/62af7bbf35e2c85abcc1c2c9_chart.svg" loading="lazy" data-w-id="03a96f87-8484-61ab-f194-d1340bdec331" alt="" class="opportunity__icon icon--xl" style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;">
        </div>
          <div class="overflow-hidden">
            <div class="opportunity__text-card">
              Increase your marketing <br />dollars ROI
            </div>
          </div>
        </div>
        <div class="opportunity__card swiper-slide">
          <div class="lottie icon-size-medium">
            <img src="https://global-uploads.webflow.com/62ac7c972e4338cd59f36b8d/62af7bbfe7f76341e264fcc0_list.svg" loading="lazy" data-w-id="03a96f87-8484-61ab-f194-d1340bdec335" alt="" class="opportunity__icon icon--xl" style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;">
        </div>
          <div class="overflow-hidden">
            <div class="opportunity__text-card">
              A top of funnel marketing solution to fill your prospect pipeline
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
