<section class="section section--opportunity">
  <div class="container--sm container--opportunity anim-scroll-up">
    <div class="opportunity__img-container--dec pointer-events-none">
      <img
        src="../../assets/fonts/63a1773692843cc09fb68d3e_re-demo.svg"
        alt
        class="opportunity__dec-img is--desktop"
      /><img
        src="../../assets/fonts/63a1773692843c5b04b68d46_demo-mb.svg"
        alt
        class="opportunity__dec-img is--mobile"
      />
    </div>
    <div class="lightbox__container">
      <img
        src="../../assets/images/63a1773692843ccf4db68d53_image%201.jpg"
        sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 67vw, 73vw"
        srcset="
        ../../assets/images/63a1773692843ccf4db68d53_image%25201-p-500.jpg   500w,
        ../../assets/images/63a1773692843ccf4db68d53_image%25201-p-800.jpg   800w,
        ../../assets/images/63a1773692843ccf4db68d53_image%25201-p-1080.jpg 1080w,
        ../../assets/images/63a1773692843ccf4db68d53_image%201.jpg          1492w
        "
        alt
        class="lightbox__img"
      />
      <h2 class="lightbox__title">Watch a demo</h2>
      <a
        href="#"
        data-btn-play
        class="lightbox__button-container w-inline-block w-lightbox"
        ><div class="img-wrap mod--btn-play-video">
          <img
            src="../../assets/fonts/63a57b246b5256e7dc77f6c5_ico-play-video.svg"
            loading="lazy"
            alt
            class="img mod--btn-play mod--video"
          />
          <div class="img mod--btn-play-circle mod--video"></div>
        </div>
        </a>
      <div class="lightbox__text">
        Catalyze AI is a predictive analytics business development platform
      </div>
    </div>
  </div>
</section>
