<section class="section section--opportunity">
    <div class="container--sm container--opportunity anim-scroll-up">
      <div class="opportunity__img-container--dec pointer-events-none">
        <img
          src="fonts/63a1773692843cc09fb68d3e_re-demo.svg"
          loading="lazy"
          alt
          class="opportunity__dec-img is--desktop"
        /><img
          src="fonts/63a1773692843c5b04b68d46_demo-mb.svg"
          loading="lazy"
          alt
          class="opportunity__dec-img is--mobile"
        />
      </div>
      <div class="lightbox__container">
        <img
          src="images/63a1773692843ccf4db68d53_image%201.jpg"
          loading="lazy"
          sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 67vw, 73vw"
          srcset="
            images/63a1773692843ccf4db68d53_image%25201-p-500.jpg   500w,
            images/63a1773692843ccf4db68d53_image%25201-p-800.jpg   800w,
            images/63a1773692843ccf4db68d53_image%25201-p-1080.jpg 1080w,
            images/63a1773692843ccf4db68d53_image%201.jpg          1492w
          "
          alt
          class="lightbox__img"
        />
        <h2 class="lightbox__title">Watch a demo</h2>
        <a
          href="#"
          data-btn-play
          class="lightbox__button-container w-inline-block w-lightbox"
          ><div class="img-wrap mod--btn-play-video">
            <img
              src="fonts/63a57b246b5256e7dc77f6c5_ico-play-video.svg"
              loading="lazy"
              alt
              class="img mod--btn-play mod--video"
            />
            <div class="img mod--btn-play-circle mod--video"></div>
          </div>
          <script type="application/json" class="w-json">
            {
              "items": [
                {
                  "url": "https://www.youtube.com/watch?v=vKH-NsU5L-g",
                  "originalUrl": "https://www.youtube.com/watch?v=vKH-NsU5L-g",
                  "width": 940,
                  "height": 528,
                  "thumbnailUrl": "https://i.ytimg.com/vi/vKH-NsU5L-g/hqdefault.jpg",
                  "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FvKH-NsU5L-g%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DvKH-NsU5L-g&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FvKH-NsU5L-g%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen\" allowfullscreen=\"true\"></iframe>",
                  "type": "video"
                }
              ],
              "group": ""
            }
          </script></a
        >
        <div class="lightbox__text">
          Catalyze AI is a predictive analytics business development
          platform
        </div>
      </div>
    </div>
  </section>