

    <!-- Navigation buttons (can be placed outside the carousel) -->
<div class="owl-nav">
  <button class="owl-prev" (click)="onClickNext()"><i class="fa fa-angle-left"></i></button>
  <button class="owl-next" (click)="onClickPrev()"><i class="fa fa-angle-right"></i></button>
</div>
  

<div class="container1"></div>
<section class="banner">
  <div class="row">
    <h3>See What Our Users Say</h3>
  </div>

  <div class="background-owl">
    <img
      src="https://assets.website-files.com/63a1773692843c14b3b68ca0/63a1773692843c9bf2b68d4a_testimonial-ds.svg"
      loading="lazy"
      alt=""
      class="full-width"
    /><img
      src="https://assets.website-files.com/63a1773692843c14b3b68ca0/63a1773692843c58a5b68d44_bg%203.svg"
      loading="lazy"
      alt=""
      class="testimonial__dec-img is--mobile"
    />
    <div class="out"></div>
  </div>




  <div class="container">
    <div class="banner">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide
          ><div class="testimonial__slider-container">
            <div class="testimonial__slide-header">
              <div class="testimonial__slide-avatar">
                <div class="testimonial__slide-name">RC</div>
              </div>
              <div class="testimonial__slide-text">
                <div class="testimonial__text-container">
                  <div class="testimonial__author">Richard Chung</div>
                  <div class="testimonial__author-position">
                    Keller Williams
                  </div>
                </div>
                <img
                  src="https://assets.website-files.com/63a1773692843c14b3b68ca0/63a1773692843ce0ecb68cbc_quote.svg"
                  loading="lazy"
                  alt=""
                  class="testimonial__quote-icon"
                />
              </div>
            </div>
            <div class="testimotial__text">
              “One of our first calls that we made, got a listing appointment
              and went over a couple days later and got the listing agreement
              signed at the dinner table."
            </div>
          </div></ng-template
        >
        <ng-template carouselSlide
          ><div class="testimonial__slider-container">
            <div class="testimonial__slide-header">
              <div class="testimonial__slide-avatar">
                <div class="testimonial__slide-name">PM</div>
              </div>
              <div class="testimonial__slide-text">
                <div class="testimonial__text-container">
                  <div class="testimonial__author">Paul Morris</div>
                  <div class="testimonial__author-position">
                    CEO of KW Forward Living, <br />
                    KW Regional Owner
                  </div>
                </div>
                <img
                  src="https://assets.website-files.com/63a1773692843c14b3b68ca0/63a1773692843ce0ecb68cbc_quote.svg"
                  loading="lazy"
                  alt=""
                  class="testimonial__quote-icon"
                />
              </div>
            </div>
            <div class="testimotial__text">
              “In a short period of time we have been able to generate real
              results in the most cost-effective way I have ever seen”
            </div>
          </div></ng-template
        >
        <ng-template carouselSlide
          ><div class="testimonial__slider-container">
            <div class="testimonial__slide-header">
              <div class="testimonial__slide-avatar">
                <div class="testimonial__slide-name">JS</div>
              </div>
              <div class="testimonial__slide-text">
                <div class="testimonial__text-container">
                  <div class="testimonial__author">Josh Spitzen</div>
                  <div class="testimonial__author-position">
                    CEO of Keller Williams Beverly Hills
                  </div>
                </div>
                <img
                  src="https://assets.website-files.com/63a1773692843c14b3b68ca0/63a1773692843ce0ecb68cbc_quote.svg"
                  loading="lazy"
                  alt=""
                  class="testimonial__quote-icon"
                />
              </div>
            </div>
            <div class="testimotial__text">
              “This is an unique and powerful platform to source listing leads
              that are highly valued in any marketing, particularly a shifting
              market”
            </div>
          </div></ng-template
        >
        <ng-template carouselSlide
          ><div class="testimonial__slider-container">
            <div class="testimonial__slide-header">
              <div class="testimonial__slide-avatar">
                <div class="testimonial__slide-name">MM</div>
              </div>
              <div class="testimonial__slide-text">
                <div class="testimonial__text-container">
                  <div class="testimonial__author">Mike Miller</div>
                  <div class="testimonial__author-position">
                    Keller Williams
                  </div>
                </div>
                <img
                  src="https://assets.website-files.com/63a1773692843c14b3b68ca0/63a1773692843ce0ecb68cbc_quote.svg"
                  loading="lazy"
                  alt=""
                  class="testimonial__quote-icon"
                />
              </div>
            </div>
            <div class="testimotial__text">
              “Catalyze has catalyzed my business into warp speed! High quality
              leads, exclusive data, and incredible customer service! I’m highly
              recommending it to anyone who wants business faster. We made $38k
              in the first month of utilizing Catalyze’s platform.”
            </div>
          </div></ng-template>
      </owl-carousel-o>
    </div>
  </div>
</section>

 