<section class="section section--testimonials">
  <div class="container--md container--testimonial anim-scroll-up">
    <div class="text-wrap mod--testimonial-heading">
      <h2 class="heading-medium mod--testimonial">See what our users say</h2>
      <div class="testimonial__btns">
        <div class="d-flex justify-content-center mb-4">
          <button
            class="carousel-control-next position-relative"
            type="button"
            data-mdb-target="#carouselMultiItemExample"
            data-mdb-slide="next"
          >
            <span
              class="carousel-control-prev-icon"
              aria-hidden="true"
              style="color: gray"
            ></span>
            <span class="visually-hidden" style="color: gray">Next</span>
          </button>
        </div>
        <div
          data-swiper="next-testimonial"
          class="testimonial__slider-button mod--next w-embed"
        >
          <button
            class="carousel-control-prev position-relative"
            type="button"
            data-mdb-target="#carouselMultiItemExample"
            data-mdb-slide="prev"
          >
            <span
              class="carousel-control-next-icon"
              aria-hidden="true"
              style="color: gray"
            ></span>
            <span class="visually-hidden" style="color: gray">Previous</span>
          </button>
        </div>
      </div>
    </div>
    <div data-swiper="testimonial" class="swiper mod--testiminial"></div>
    <div class="testimonial__img-container--dec pointer-events-none">
      <img
        src="../../assets/fonts/63a1773692843c9bf2b68d4a_testimonial-ds.svg"
        loading="lazy"
        alt
        class="testimonial__dec-img is--desktop"
      />
      <img
        src="../../assets/fonts/63a1773692843c58a5b68d44_bg%203.svg"
        loading="lazy"
        alt
        class="testimonial__dec-img is--mobile"
      />
      <div class="testimonial__bg-grad"></div>
    </div>

    <div
      id="carouselMultiItemExample"
      class="carousel slide carousel-dark text-center"
      data-mdb-ride="carousel"
    >
      <!-- Controls -->
      <div class="d-flex justify-content-center mb-4"></div>
      <!-- Inner -->
      <div class="carousel-inner py-4">
        <!-- Slide 1 -->
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <!-- Review 1 -->
              <div class="col-lg-6">
                <!-- ... content of the first review ... -->
                <div class="swiper-slide mod--testimonial">
                  <div class="testimonial__slider-container">
                    <div class="testimonial__slide-header">
                      <div class="testimonial__slide-avatar">
                        <div class="testimonial__slide-name">PM</div>
                      </div>
                      <div class="testimonial__slide-text">
                        <div class="testimonial__text-container">
                          <div class="testimonial__author">Paul Morris</div>
                          <div class="testimonial__author-position">
                            CEO of KW Forward Living, KW Regional Owner
                          </div>
                        </div>
                        <img
                          src="../../assets/fonts/63a1773692843ce0ecb68cbc_quote.svg"
                          loading="lazy"
                          alt
                          class="testimonial__quote-icon"
                        />
                      </div>
                    </div>
                    <div class="testimotial__text">
                      “In a short period of time we have been able to generate
                      real results in the most cost-effective way I have ever
                      seen”
                    </div>
                  </div>
                </div>
              </div>
              <!-- Review 2 -->
              <div class="col-lg-6 d-none d-lg-block">
                <!-- ... content of the second review ... -->
                <div class="swiper-slide mod--testimonial">
                  <div class="testimonial__slider-container">
                    <div class="testimonial__slide-header">
                      <div class="testimonial__slide-avatar">
                        <div class="testimonial__slide-name">PM</div>
                      </div>
                      <div class="testimonial__slide-text">
                        <div class="testimonial__text-container">
                          <div class="testimonial__author">Paul Morris</div>
                          <div class="testimonial__author-position">
                            CEO of KW Forward Living, KW Regional Owner
                          </div>
                        </div>
                        <img
                          src="../../assets/fonts/63a1773692843ce0ecb68cbc_quote.svg"
                          loading="lazy"
                          alt
                          class="testimonial__quote-icon"
                        />
                      </div>
                    </div>
                    <div class="testimotial__text">
                      “In a short period of time we have been able to generate
                      real results in the most cost-effective way I have ever
                      seen”
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <!-- Review 3 -->
              <div class="col-lg-6">
                <!-- ... content of the third review ... -->
                <div class="swiper-slide mod--testimonial">
                  <div class="testimonial__slider-container">
                    <div class="testimonial__slide-header">
                      <div class="testimonial__slide-avatar">
                        <div class="testimonial__slide-name">PM</div>
                      </div>
                      <div class="testimonial__slide-text">
                        <div class="testimonial__text-container">
                          <div class="testimonial__author">Paul Morris</div>
                          <div class="testimonial__author-position">
                            CEO of KW Forward Living, KW Regional Owner
                          </div>
                        </div>
                        <img
                          src="../../assets/fonts/63a1773692843ce0ecb68cbc_quote.svg"
                          loading="lazy"
                          alt
                          class="testimonial__quote-icon"
                        />
                      </div>
                    </div>
                    <div class="testimotial__text">
                      “In a short period of time we have been able to generate
                      real results in the most cost-effective way I have ever
                      seen”
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 d-none d-lg-block">
                <!-- ... content of the second review ... -->
                <div class="swiper-slide mod--testimonial">
                  <div class="testimonial__slider-container">
                    <div class="testimonial__slide-header">
                      <div class="testimonial__slide-avatar">
                        <div class="testimonial__slide-name">PM</div>
                      </div>
                      <div class="testimonial__slide-text">
                        <div class="testimonial__text-container">
                          <div class="testimonial__author">Paul Morris</div>
                          <div class="testimonial__author-position">
                            CEO of KW Forward Living, KW Regional Owner
                          </div>
                        </div>
                        <img
                          src="../../assets/fonts/63a1773692843ce0ecb68cbc_quote.svg"
                          loading="lazy"
                          alt
                          class="testimonial__quote-icon"
                        />
                      </div>
                    </div>
                    <div class="testimotial__text">
                      “In a short period of time we have been able to generate
                      real results in the most cost-effective way I have ever
                      seen”
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Add more slides as needed -->

        <!-- Slide 3 -->
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <!-- Review 4 -->
              <div class="col-lg-6">
                <!-- ... content of the fourth review ... -->
                <div class="swiper-slide mod--testimonial">
                  <div class="testimonial__slider-container">
                    <div class="testimonial__slide-header">
                      <div class="testimonial__slide-avatar">
                        <div class="testimonial__slide-name">PM</div>
                      </div>
                      <div class="testimonial__slide-text">
                        <div class="testimonial__text-container">
                          <div class="testimonial__author">Paul Morris</div>
                          <div class="testimonial__author-position">
                            CEO of KW Forward Living, KW Regional Owner
                          </div>
                        </div>
                        <img
                          src="../../assets/fonts/63a1773692843ce0ecb68cbc_quote.svg"
                          loading="lazy"
                          alt
                          class="testimonial__quote-icon"
                        />
                      </div>
                    </div>
                    <div class="testimotial__text">
                      “In a short period of time we have been able to generate
                      real results in the most cost-effective way I have ever
                      seen”
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 d-none d-lg-block">
                <!-- ... content of the second review ... -->
                <div class="swiper-slide mod--testimonial">
                  <div class="testimonial__slider-container">
                    <div class="testimonial__slide-header">
                      <div class="testimonial__slide-avatar">
                        <div class="testimonial__slide-name">PM</div>
                      </div>
                      <div class="testimonial__slide-text">
                        <div class="testimonial__text-container">
                          <div class="testimonial__author">Paul Morris</div>
                          <div class="testimonial__author-position">
                            CEO of KW Forward Living, KW Regional Owner
                          </div>
                        </div>
                        <img
                          src="../../assets/fonts/63a1773692843ce0ecb68cbc_quote.svg"
                          loading="lazy"
                          alt
                          class="testimonial__quote-icon"
                        />
                      </div>
                    </div>
                    <div class="testimotial__text">
                      “In a short period of time we have been able to generate
                      real results in the most cost-effective way I have ever
                      seen”
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Inner -->
    </div>
  </div>
</section>

<style>
  /* Add CSS for mobile view here */
  @media (max-width: 767px) {
    .col-lg-6 {
      width: 100%;
    }
    .d-none.d-lg-block {
      display: none;
    }
  }
</style>
