<section class="section section--testimonials">
    <div class="container--md container--testimonial anim-scroll-up">
      <div class="text-wrap mod--testimonial-heading">
        <h2 class="heading-medium mod--testimonial">
          See what our users say
        </h2>
        <div class="testimonial__btns">
          <div
            data-swiper="prev-testimonial"
            class="testimonial__slider-button mod--prev w-embed"
          >
            <svg
              width="100%"
              height="100%"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12 24L20 16L12 8"
                stroke="#07133B"
                stroke-width="2.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <div
            data-swiper="next-testimonial"
            class="testimonial__slider-button mod--next w-embed"
          >
            <svg
              width="100%"
              height="100%"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12 24L20 16L12 8"
                stroke="#07133B"
                stroke-width="2.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
      </div>
      <div data-swiper="testimonial" class="swiper mod--testiminial">
        <div class="swiper-wrapper">
          <div class="swiper-slide mod--testimonial">
            <div class="testimonial__slider-container">
              <div class="testimonial__slide-header">
                <div class="testimonial__slide-avatar">
                  <div class="testimonial__slide-name">RC</div>
                </div>
                <div class="testimonial__slide-text">
                  <div class="testimonial__text-container">
                    <div class="testimonial__author">Richard Chung</div>
                    <div class="testimonial__author-position">
                      Keller Williams
                    </div>
                  </div>
                  <img
                    src="../../assets/fonts/63a1773692843ce0ecb68cbc_quote.svg"
                    loading="lazy"
                    alt
                    class="testimonial__quote-icon"
                  />
                </div>
              </div>
              <div class="testimotial__text">
                “One of our first calls that we made, got a listing
                appointment and went over a couple days later and got the
                listing agreement signed at the dinner table."
              </div>
            </div>
          </div>
          <div class="swiper-slide mod--testimonial">
            <div class="testimonial__slider-container">
              <div class="testimonial__slide-header">
                <div class="testimonial__slide-avatar">
                  <div class="testimonial__slide-name">PM</div>
                </div>
                <div class="testimonial__slide-text">
                  <div class="testimonial__text-container">
                    <div class="testimonial__author">Paul Morris</div>
                    <div class="testimonial__author-position">
                      CEO of KW Forward Living, KW Regional Owner
                    </div>
                  </div>
                  <img
                    src="../../assets/fonts/63a1773692843ce0ecb68cbc_quote.svg"
                    loading="lazy"
                    alt
                    class="testimonial__quote-icon"
                  />
                </div>
              </div>
              <div class="testimotial__text">
                “In a short period of time we have been able to generate
                real results in the most cost-effective way I have ever
                seen”
              </div>
            </div>
          </div>
          <div class="swiper-slide mod--testimonial">
            <div class="testimonial__slider-container">
              <div class="testimonial__slide-header">
                <div class="testimonial__slide-avatar">
                  <div class="testimonial__slide-name">JS</div>
                </div>
                <div class="testimonial__slide-text">
                  <div class="testimonial__text-container">
                    <div class="testimonial__author">Josh Spitzen</div>
                    <div class="testimonial__author-position">
                      CEO of Keller Williams Beverly Hills
                    </div>
                  </div>
                  <img
                    src="../../assets/fonts/63a1773692843ce0ecb68cbc_quote.svg"
                    loading="lazy"
                    alt
                    class="testimonial__quote-icon"
                  />
                </div>
              </div>
              <div class="testimotial__text">
                “This is an unique and powerful platform to source listing
                leads that are highly valued in any marketing, particularly
                a shifting market”
              </div>
            </div>
          </div>
          <div class="swiper-slide mod--testimonial">
            <div class="testimonial__slider-container">
              <div class="testimonial__slide-header">
                <div class="testimonial__slide-avatar">
                  <div class="testimonial__slide-name">MM</div>
                </div>
                <div class="testimonial__slide-text">
                  <div class="testimonial__text-container">
                    <div class="testimonial__author">Mike Miller</div>
                    <div class="testimonial__author-position">
                      Keller Williams
                    </div>
                  </div>
                  <img
                    src="../../assets/fonts/63a1773692843ce0ecb68cbc_quote.svg"
                    loading="lazy"
                    alt
                    class="testimonial__quote-icon"
                  />
                </div>
              </div>
              <div class="testimotial__text">
                “Catalyze has catalyzed my business into warp speed! High
                quality leads, exclusive data, and incredible customer
                service! I’m highly recommending it to anyone who wants
                business faster. We made $38k in the first month of
                utilizing Catalyze’s platform.”
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="testimonial__img-container--dec pointer-events-none">
        <img
          src="../../assets/fonts/63a1773692843c9bf2b68d4a_testimonial-ds.svg"
          loading="lazy"
          alt
          class="testimonial__dec-img is--desktop"
        /><img
          src="../../assets/fonts/63a1773692843c58a5b68d44_bg%203.svg"
          loading="lazy"
          alt
          class="testimonial__dec-img is--mobile"
        />
        <div class="testimonial__bg-grad"></div>
      </div>
    </div>
  </section>


  