<section class="section section--start">
  <div class="container--lg anim-scroll-up">
    <div class="start__inner">
      <h2 class="heading-medium mod--start">How to get started?</h2>
      <div class="start__grid">
        <div
          id="w-node-ad35ca95-61ec-551f-fa50-0f6a522cc760-522cc75a"
          class="accordion-list"
        >
 


          <div ngbAccordion [closeOthers]="true" class="acco">
            <div
              ngbAccordionItem
              *ngFor="let panel of panels; let i = index"
              [collapsed]="panel !== currentPanel"
              (click)="setCurrentPanel(panel)"
              class="item"
              [ngClass]="{ 'item': true, 'active': panel === currentPanel }"
            >
              <h2 ngbAccordionHeader >
                <button ngbAccordionButton class="accordion-toggle"  [ngClass]="{ 'active': panel === currentPanel }">

                  <div class="accordion__number-wrap">
                    <div class="accordion__number">{{ i + 1}}</div>
                  </div>
                  {{ panel }} 
                </button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody class="acco-body">
                  <p class="">   {{ content[panels.indexOf(panel)] }}</p>
                
                  <!-- Display image only on mobile devices -->
                  <div>
                    <img
                      src="{{ images[i] }}"
                      alt=""
                      class="img-fluid d-md-none"
                      height="150"
                      width="150"
                      style="margin-left: 30px;"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div
          id="w-node-ad35ca95-61ec-551f-fa50-0f6a522cc799-522cc75a"
          class="start__img-container">
          <img
          src="{{ images[panels.indexOf(currentPanel)] }}"
          alt=""
          class="img-fluid d-none d-md-block"
         
        />
        </div>




        <div
          id="w-node-ad35ca95-61ec-551f-fa50-0f6a522cc79e-522cc75a"
          class="start__content-container"
        >
          <a
            data-btn
            href="#"
            target="_blank"
            class="button button--fill w-inline-block"
            ><div class="button-text">Sign Up</div>
            <div class="btn-circles mod--btn">
              <div class="btn-circle"></div>
              <div class="btn-circle mod--2"></div></div
          ></a>
          <div class="start__text">Register in under 5 minutes.</div>
        </div>
        <img
          src="../../assets/fonts/63a1773692843c83b0b68cf6_bg.svg"
          loading="lazy"
          id="w-node-ad35ca95-61ec-551f-fa50-0f6a522cc7a7-522cc75a"
          alt
          class="start__dec-img"
        />
      </div>
    </div>
  </div>
</section>
