
.item{
background-color:#07133b;
color: white;
border: none;

}
.item:active{
  background-color: #07153d;
}

/* Define a class for the selected panel */
.selected-panel {
    background-color: #f0f0f0; /* Change this to the desired background color */
  }


  /* Style the accordion toggle button */
.accordion-toggle {
    background-color:#07153d; 
    color: white; /* Change this to the default button text color */
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color 0.3s;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    border: none; /* Remove the border */
    background-color: transparent; /* Set background color to transparent */
    box-shadow: none; /* Remove any box shadow */
  }
  
  /* Style the active accordion item and its button */
  .item.active .accordion-toggle {
    background-color: rgb(20,31,69); /* Change this to the active button and panel background color */
    color: white; /* Change this to the active button text color */
  }


  /* Style the accordion number wrap */
.accordion__number-wrap {
    background-color: rgb(20,31,69); /* Change this to the default number wrap background color */
  }
  
  /* Style the accordion number wrap when the panel is active */
  .item.active .accordion__number-wrap {
    background-color:  #1ad079; /* Change this to the active number wrap background color */
  }

  p{
    margin-left: 40px;
  }

  .accordion__number-wrap {
    margin-right: 10px; /* Adjust this value to set the desired gap */
  }

.acco-body{
  background-color: rgb(20,31,69) ;
}
  

