<section class="section section--start">
  <div class="container--lg anim-scroll-up">
    <div class="start__inner">
      <h2 class="heading-medium mod--start">How to get started?</h2>
      <div class="start__grid">
        <div
          id="w-node-ad35ca95-61ec-551f-fa50-0f6a522cc760-522cc75a"
          class="accordion-list"
        >
          <!-- <div class="accordion">
            <div class="accordion-toggle">
              <div class="accordion__toggle-container">
                <div class="accordion__number-wrap">
                  <div class="accordion__number">1</div>
                </div>
                <h3 class="accordion__title">Provide your information</h3>
              </div>
              <img
                src="../../assets/fonts/63a1773692843c2e9ab68d1b_S.svg"
                loading="lazy"
                alt
                class="accordion__arrow"
              />
            </div>
            <div class="accordion-content">
              <div class="accordion-container">
                <div class="accordion__text">
                  Give us some details on yourself and your firm.
                </div>
                <img
                  src="../../assets/images/63a1773692843c4f38b68ce3_first.webp"
                  loading="lazy"
                  sizes="(max-width: 479px) 84vw, (max-width: 767px) 324px, 100vw"
                  
                  class="start__img start__img--one start__img--mobile"
                />
              </div>
            </div>
          </div> -->


          <!-- <div class="accordion">
            <div class="accordion-toggle">
              <div class="accordion__toggle-container">
                <div class="accordion__number-wrap">
                  <div class="accordion__number">2</div>
                </div>
                <h3 class="accordion__title">Select your location</h3>
              </div>
              <img
                src="../../assets/fonts/63a1773692843c2e9ab68d1b_S.svg"
                loading="lazy"
                alt
                class="accordion__arrow"
              />
            </div>
            <div class="accordion-content">
              <div class="accordion-container">
                <div class="accordion__text">
                  Provide a zip code and we will provide you with the highest
                  propensity prospects in a 50 mile radius.
                </div>
                <img
                  src="../../assets/images/63a1773692843c405bb68ced_second.webp"
                  loading="eager"
                  sizes="(max-width: 479px) 84vw, (max-width: 767px) 324px, 100vw"
                  srcset="
                  ../../assets/images/63a1773692843c405bb68ced_second-p-500.webp   500w,
                  ../../assets/images/63a1773692843c405bb68ced_second-p-800.webp   800w,
                  ../../assets/images/63a1773692843c405bb68ced_second-p-1080.webp 1080w,
                  ../../assets/images/63a1773692843c405bb68ced_second.webp        1296w
                  "
                  alt
                  class="start__img start__img--two start__img--mobile"
                />
              </div>
            </div>
          </div> -->


          <!-- <div class="accordion">
            <div class="accordion-toggle">
              <div class="accordion__toggle-container">
                <div class="accordion__number-wrap">
                  <div class="accordion__number">3</div>
                </div>
                <h3 class="accordion__title">Check Out</h3>
              </div>
              <img
                src="../../assets/fonts/63a1773692843c2e9ab68d1b_S.svg"
                loading="lazy"
                alt
                class="accordion__arrow"
              />
            </div>
            <div class="accordion-content">
              <div class="accordion-container">
                <div class="accordion__text">
                  On the check out page you can select the products and quantity
                  of leads you would like per month.
                </div>
                <img
                  src="../../assets/images/63a1773692843c3c22b68ce4_third.webp"
                  loading="eager"
                  sizes="(max-width: 479px) 84vw, (max-width: 767px) 324px, 100vw"
                  srcset="
                  ../../assets/images/63a1773692843c3c22b68ce4_third-p-500.webp   500w,
                  ../../assets/images/63a1773692843c3c22b68ce4_third-p-800.webp   800w,
                  ../../assets/images/63a1773692843c3c22b68ce4_third-p-1080.webp 1080w,
                  ../../assets/images/63a1773692843c3c22b68ce4_third.webp        1296w
                  "
                  alt
                  class="start__img start__img--three start__img--mobile"
                />
              </div>
            </div>
          </div> -->


          <!-- <div class="accordion">
            <div class="accordion-toggle">
              <div class="accordion__toggle-container">
                <div class="accordion__number-wrap">
                  <div class="accordion__number">4</div>
                </div>
                <h3 class="accordion__title">Access your dashboard</h3>
              </div>
              <img
                src="../../assets/fonts/63a1773692843c2e9ab68d1b_S.svg"
                loading="lazy"
                alt
                class="accordion__arrow"
              />
            </div>
            <div class="accordion-content">
              <div class="accordion-container">
                <div class="accordion__text">
                  You have immediate access to your dasboard and your leads.
                  From here you can easily track, manage, and export your
                  exclusive leads.
                </div>
                <img
                  src="images/63a1773692843c2796b68ce6_fourth%20FS.webp"
                  loading="eager"
                  sizes="(max-width: 479px) 84vw, (max-width: 767px) 324px, 100vw"
                  srcset="
                  ../../assets/images/63a1773692843c2796b68ce6_fourth%2520FS-p-500.webp   500w,
                  ../../assets/images/63a1773692843c2796b68ce6_fourth%2520FS-p-800.webp   800w,
                  ../../assets/images/63a1773692843c2796b68ce6_fourth%2520FS-p-1080.webp 1080w,
                  ../../assets/images/63a1773692843c2796b68ce6_fourth%20FS.webp          1296w
                  "
                  alt
                  class="start__img start__img--four start__img--mobile"
                />
              </div>
            </div>
          </div> -->


          <div ngbAccordion [closeOthers]="true" class="acco">
            <div
              ngbAccordionItem
              *ngFor="let panel of panels; let i = index"
              [collapsed]="panel !== currentPanel"
              (click)="setCurrentPanel(panel)"
              class="item"
              [ngClass]="{ 'item': true, 'active': panel === currentPanel }"
            >
              <h2 ngbAccordionHeader >
                <button ngbAccordionButton class="accordion-toggle"  [ngClass]="{ 'active': panel === currentPanel }">

                  <div class="accordion__number-wrap">
                    <div class="accordion__number">{{ i + 1}}</div>
                  </div>
                  {{ panel }} </button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody class="acco-body">
                  <p class="">   {{ content[panels.indexOf(panel)] }}</p>
                
                  <!-- Display image only on mobile devices -->
                  <div>
                    <img
                      src="{{ images[i] }}"
                      alt=""
                      class="img-fluid d-md-none"
                      height="150"
                      width="150"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div
          id="w-node-ad35ca95-61ec-551f-fa50-0f6a522cc799-522cc75a"
          class="start__img-container">
          <img
          src="{{ images[panels.indexOf(currentPanel)] }}"
          alt=""
          class="img-fluid d-none d-md-block"
         
        />
        </div>




        <div
          id="w-node-ad35ca95-61ec-551f-fa50-0f6a522cc79e-522cc75a"
          class="start__content-container"
        >
          <a
            data-btn
            href="#"
            target="_blank"
            class="button button--fill w-inline-block"
            ><div class="button-text">Sign Up</div>
            <div class="btn-circles mod--btn">
              <div class="btn-circle"></div>
              <div class="btn-circle mod--2"></div></div
          ></a>
          <div class="start__text">Register in under 5 minutes.</div>
        </div>
        <img
          src="../../assets/fonts/63a1773692843c83b0b68cf6_bg.svg"
          loading="lazy"
          id="w-node-ad35ca95-61ec-551f-fa50-0f6a522cc7a7-522cc75a"
          alt
          class="start__dec-img"
        />
      </div>
    </div>
  </div>
</section>
