<section
  data-w-id="0ec8e0d2-815b-76e7-2673-e74ab1e71caa"
  class="section section--deals"
>
  <div class="container--md anim-scroll-up">
    <div class="deals__grid">
      <div
        id="w-node-b7de98c7-152b-3725-7df3-635ba5a10c64-3eb68cad"
        class="deals__img-container anim-scroll-up"
      >
        <img
          src="../../assets/fonts/63a1773692843c661bb68cdf_Frame%2048098739.svg"
          loading="lazy"
          alt
          class="untapped__tip mod--mobile mod--deal"
        /><img
          src="../../assets/fonts/63a1773692843c9f8db68d16_RE.svg"
          loading="lazy"
          alt
          class="deals__img"
        />
      </div>
      <div
        id="w-node-_9ecdcaa3-dcb0-faeb-8a53-2ff649d6edb1-3eb68cad"
        class="deal__text-container"
      >
        <div class="overflow-hidden margin-bottom-24">
          <div class="heading-small anim-scroll">
            Leverage big data and artificial intelligence to identify your next
            listing
          </div>
        </div>
        <div class="overflow-hidden">
          <div class="anim-scroll">
            Compliment your current business development with unconstrained
            predictive analytics.
          </div>
        </div>
      </div>
      <div
        id="w-node-_973f1ced-0408-5faf-310a-435c29990892-3eb68cad"
        class="overflow-hidden mod--deal-heading"
      >
        <h2
          id="w-node-_1fb3cc27-f927-f256-e3de-bde6669271eb-3eb68cad"
          class="heading-medium anim-scroll"
        >
          Close More Deals
        </h2>
      </div>
      <div
        id="w-node-_45df1a60-72b5-ac72-ad8d-0446c590cb91-3eb68cad"
        class="deal__tip-container"
      >
        <img
          src="../../assets/fonts/63a1773692843cd166b68d0a_info.svg"
          loading="lazy"
          alt
          class="untapped__tip mod--desktop"
        />
      </div>
      <div
        id="w-node-d62566ed-2024-c049-8e54-17d75873005d-3eb68cad"
        class="deals__btn-wrap"
      >
        <div class="overflow-hidden">
          <div class="anim-scroll">
            <a
              data-btn-play
              id="w-node-_67c669b3-02ef-c0f9-3890-7f782751604f-3eb68cad"
              href="https://calendly.com/catalyzeai/30-minute-meeting-catalyze"
              target="_blank"
              class="button button--green w-inline-block"
              ><div class="button-text">Book a demo</div>
              <div class="img-wrap mod--btn-play">
                <img
                  src="../../assets/fonts/63a1773692843c34f5b68cb8_play.svg"
                  loading="lazy"
                  alt
                  class="img mod--btn-play"
                />
                <div class="img mod--btn-play-circle"></div></div
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
