<section
  data-w-id="1d641b1d-271d-e4fb-f094-63a343a10999"
  class="section section--target"
>
  <div class="container--md anim-scroll-up">
    <div class="target__grid">
      <div
        id="w-node-b56414d0-b910-b5a3-e465-0a5ebd002f84-43a10999"
        class="overflow-hidden mod--target"
      >
        <h2 class="heading-medium anim-scroll">Your Target Market</h2>
      </div>
      <div
        id="w-node-_1d641b1d-271d-e4fb-f094-63a343a1099e-43a10999"
        class="target__img-container"
      >
        <img
          src="../../assets/images/63a1773692843c3de8b68d37_loupe.webp"
          loading="lazy"
          id="w-node-_1d641b1d-271d-e4fb-f094-63a343a1099f-43a10999"
          sizes="(max-width: 479px) 40vw, (max-width: 767px) 145px, (max-width: 991px) 14vw, 16vw"
          srcset="
          ../../assets/images/63a1773692843c3de8b68d37_loupe-p-500.webp 500w,
          ../../assets/images/63a1773692843c3de8b68d37_loupe.webp       860w
          "
          alt
          class="target__img-loupe"
        /><img
          src="../../assets/images/63a1773692843ce011b68d0c_Frame%2048098831.webp"
          loading="lazy"
          sizes="(max-width: 479px) 92vw, (max-width: 767px) 342px, (max-width: 991px) 43vw, 47vw"
          srcset="
          ../../assets/images/63a1773692843ce011b68d0c_Frame%252048098831-p-500.webp   500w,
          ../../assets/images/63a1773692843ce011b68d0c_Frame%252048098831-p-800.webp   800w,
          ../../assets/images/63a1773692843ce011b68d0c_Frame%252048098831-p-1080.webp 1080w,
          ../../assets/images/63a1773692843ce011b68d0c_Frame%252048098831-p-1600.webp 1600w,
          ../../assets/images/63a1773692843ce011b68d0c_Frame%2048098831.webp          2488w
          "
          alt
          class="target__img-map"
        />
      </div>
      <div class="target__content-container">
        <div class="overflow-hidden margin-bottom-24">
          <div class="targer__text-container anim-scroll">
            <img
              src="../../assets/fonts/63a1773692843c29f4b68cc3_globe.svg"
              loading="lazy"
              alt
              class="icon--m"
            />
            <div class="target__subtitle">Nationwide coverage</div>
          </div>
        </div>
        <div class="overflow-hidden margin-bottom-32">
          <div class="anim-scroll">
            Harness untapped data and analytics to help propel your business
            development efforts. From nationwide data to your specific zip code,
            we have you covered.
          </div>
        </div>
        <div class="overflow-hidden">
          <div class="anim-scroll">
            <a
              data-btn
              href="#"
              target="_blank"
              class="button button--fill w-inline-block"
              ><div class="button-text">Get started</div>
              <div class="btn-circles mod--btn">
                <div class="btn-circle"></div>
                <div class="btn-circle mod--2"></div></div
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
