<section class="section section--platform">
    <div class="container--md anim-scroll-up">
      <div class="platform__flex">
        <h2 class="heading-medium mod--platform">
          Our Platform
        </h2>
        <div class="platform__grid">
          <div class="overflow-hidden mod--platform-card">
            <div class="platform__card anim-scroll">
              <div class="platform__card-header">
                <h3 class="platform__subtitle">Exclusive</h3>
                <div class="lottie icon-size-medium">
                    <img src="https://global-uploads.webflow.com/62ac7c972e4338cd59f36b8d/62af7b973249a92727aeec7c_gem.svg" loading="lazy" alt="" class="icon--xl">
                </div>
              </div>
              <div class="platform__text">
                Exclusive listing leads pushed to your platform.
              </div>
            </div>
          </div>
          <div class="overflow-hidden mod--platform-card">
            <div class="platform__card anim-scroll">
              <div class="platform__card-header">
                <h3 class="platform__subtitle">In your backyard</h3>
                <div class="lottie icon-size-medium">
                    <img src="https://global-uploads.webflow.com/62ac7c972e4338cd59f36b8d/62af7b979243c86cceb3d753_backyard.svg" loading="lazy" alt="" class="icon--xl">
                </div>
              </div>
              <div class="platform__text">
                Radius based leads within 20-miles from you, prioritizing
                those properties closer.
              </div>
            </div>
          </div>
          <div class="overflow-hidden mod--platform-card">
            <div class="platform__card anim-scroll">
              <div class="platform__card-header">
                <h3 class="platform__subtitle">High <br />net worth</h3>
                <div class="lottie icon-size-medium">
                  <img src="https://global-uploads.webflow.com/62ac7c972e4338cd59f36b8d/62c8114dd294f416aaf4dac4_sold.svg" loading="lazy" alt="" class="icon--xl">
                </div>
              </div>
              <div class="platform__text">
                Build your business by accessing Catalyze AI exclusive
                listing leads.
              </div>
            </div>
          </div>
          <div class="overflow-hidden mod--platform-card">
            <div
              class="platform__card anim-scroll"
            >
              <div class="platform__card-header">
                <h3 class="platform__subtitle">High propensity</h3>
                <div class="lottie icon-size-medium">
                <img src="https://global-uploads.webflow.com/62ac7c972e4338cd59f36b8d/62af7b97b8d59a26ee245b3f_percent.svg" loading="lazy" alt="" class="icon--xl">
            </div>
              </div>
              <div class="platform__text">
                Our combination of event-driven data, historical data,
                behavioral analytics, and real-time data results in the
                highest propensity to sell properties.
              </div>
            </div>
          </div>
          <div class="overflow-hidden mod--platform-card mod--last">
            <a
              href="#"
              class="platform__card platform__cta-card anim-scroll w-inline-block"
              ><div class="link-button__container link-button--white">
                <div class="link-text">View pricing</div>
                <div class="arrow-icon w-embed">
                  <svg
                    width="100%"
                    height="100%"
                    viewBox="0 0 40 40"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5 19.15C4.53056 19.15 4.15 19.5306 4.15 20C4.15 20.4694 4.53056 20.85 5 20.85L5 19.15ZM35 20.85C35.4694 20.85 35.85 20.4694 35.85 20C35.85 19.5306 35.4694 19.15 35 19.15L35 20.85ZM5 20.85L35 20.85L35 19.15L5 19.15L5 20.85Z"
                      fill="currentColor"
                    />
                    <path
                      d="M29.5442 14.347C29.1835 14.0465 28.6475 14.0952 28.347 14.4558C28.0465 14.8165 28.0952 15.3525 28.4558 15.653L29.5442 14.347ZM35 20L35.5442 20.653C35.738 20.4915 35.85 20.2523 35.85 20C35.85 19.7477 35.738 19.5085 35.5442 19.347L35 20ZM28.4558 24.347C28.0952 24.6475 28.0465 25.1835 28.347 25.5442C28.6475 25.9048 29.1835 25.9535 29.5442 25.653L28.4558 24.347ZM28.4558 15.653L34.4558 20.653L35.5442 19.347L29.5442 14.347L28.4558 15.653ZM34.4558 19.347L28.4558 24.347L29.5442 25.653L35.5442 20.653L34.4558 19.347Z"
                      fill="currentColor"
                    />
                  </svg>
                </div>
              </div>
              <div class="img-wrap mod--platform-parallax-elements">
                <div class="img-wrap mod--platform-parallax mod--1">
                  <div class="img mod--platform-parallax mod--1"></div>
                </div>
                <div class="img-wrap mod--platform-parallax mod--2">
                  <div class="img mod--platform-parallax mod--1"></div>
                </div>
                <div class="img-wrap mod--platform-parallax mod--3">
                  <div class="img mod--platform-parallax mod--3"></div>
                </div>
                <div class="img-wrap mod--platform-parallax mod--4">
                  <div class="img mod--platform-parallax mod--3"></div>
                </div>
                <div class="img-wrap mod--platform-parallax mod--5">
                  <div class="img mod--platform-parallax mod--5"></div>
                </div>
                <div class="img-wrap mod--platform-parallax mod--6">
                  <div class="img mod--platform-parallax"></div>
                </div>
                <div class="img-wrap mod--platform-parallax mod--7">
                  <div class="img mod--platform-parallax mod--7"></div>
                </div>
                <div class="img-wrap mod--platform-parallax mod--8">
                  <div class="img mod--platform-parallax"></div>
                </div>
                <div class="img-wrap mod--platform-parallax mod--9">
                  <div class="img mod--platform-parallax mod--9"></div>
                </div>
                <div class="img-wrap mod--platform-parallax mod--10">
                  <div class="img mod--platform-parallax mod--10"></div>
                </div>
                <div class="img-wrap mod--platform-parallax mod--11">
                  <div class="img mod--platform-parallax mod--11"></div>
                </div>
                <div class="img-wrap mod--platform-parallax mod--12">
                  <div class="img mod--platform-parallax mod--12"></div>
                </div>
                <div class="img-wrap mod--platform-parallax mod--13">
                  <div class="img mod--platform-parallax mod--13"></div>
                </div>
                <div class="img-wrap mod--platform-parallax mod--14">
                  <div class="img mod--platform-parallax"></div>
                </div>
                <div class="img-wrap mod--platform-parallax mod--15">
                  <div class="img mod--platform-parallax mod--15"></div>
                </div>
                <div class="img-wrap mod--platform-parallax mod--16">
                  <div class="img mod--platform-parallax mod--16"></div>
                </div>
                </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>