
 <section
  data-w-id="71aa2e1e-b0e7-1fda-70a9-914a6a3e80eb"
  class="section section--properties"
>
  <div class="container text-center">
    <div class="row text-center">
      <div
        class="col-12"
        style="font-size: 37.075px; font-weight: 500; margin-bottom: 79.3px"
      >
        Identify Inherited Properties in your <br />
        local area that will sell
      </div>
    </div>
    <div class="horizontal-scroll">
      <div class="row no-gutters">
        <div class="row">
          <div class="col-12">
            <div
              class="col-4"
              style="font-size: 13.9434px; display: flex; margin-left: 140px"
            >
              <h5>
                Industry High <br />
                Prediction Rate
              </h5>
            </div>
          </div>
        </div>
        <div class="">
          <div class="col scroll-column">
            <h4 style="font-size: 47.458px">
              40<span style="font-size: 39.169px">%</span>
            </h4>
            <img
              src="https://assets.website-files.com/63a1773692843c14b3b68ca0/63a1773692843c32ddb68d18_leads.svg"
              alt=""
            />
            <p>
              Roughly 4 out of 10 property leads <br />
              sell within 12 months.
            </p>
          </div>
          <div class="col scroll-column">
            <h3 style="font-size: 47.458px">
              $70<span style="font-size: 33.196">Bn</span>
            </h3>
            <img
              src="https://assets.website-files.com/63a1773692843c14b3b68ca0/63a1773692843cfb56b68d0e_building.svg"
              alt=""
            />
            <p>
              Predicted total property value that <br />
              will sell per year.
            </p>
          </div>
          <div class="col scroll-column">
            <h4 style="font-size: 47.458px">
              77 <span style="font-size: 39.169px">%</span>
            </h4>
            <img
              src="https://assets.website-files.com/63a1773692843c14b3b68ca0/63a1773692843cb5c4b68d11_agent.svg"
              alt=""
            />
            <p>
              Of recent seller contacted only one <br />
              agent before finding the right agent <br />
              they worked with to sell their home.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>