<section class="section section--properties">
  <div class="container--md overflow-hidden">
    <h2 class="heading-medium mod--properties">
      Identify Inherited Properties in your local area that will sell
    </h2>
    <div
      data-swiper="properties"
      class="properties-slider swiper anim-scroll-up"
    >
      <div class="properties__grid swiper-wrapper">
        <div class="properties__card swiper-slide">
          <div class="properties__add-info">
            Industry High <br />Prediction Rate
          </div>
          <div class="properties__number-container mab24">
            <div id="prediction-rate" class="properties__number-text">40</div>
            <div class="properties__number-procent">%</div>
          </div>
          <img
            src="../../assets/fonts/63a1773692843c32ddb68d18_leads.svg"
            alt
            class="properties__icon"
          />
          <div class="overflow-hidden">
            <div class="properties__text">
              Roughly 4 out of 10 property leads sell within 12 months.
            </div>
          </div>
        </div>
        <div class="properties__card swiper-slide">
          <div class="properties__number-container mab24">
            <div class="properties__number-text">
              $<span id="property-value">77</span>
            </div>
            <div class="properties__number-procent">Bn</div>
          </div>
          <img
            src="../../assets/fonts/63a1773692843cfb56b68d0e_building.svg"
            alt
            class="properties__icon"
          />
          <div class="overflow-hidden">
            <div class="properties__text">
              Predicted total property value that will sell per year.
            </div>
          </div>
        </div>
        <div class="properties__card swiper-slide">
          <div class="properties__number-container mab24">
            <div id="agent" class="properties__number-text">77</div>
            <div class="properties__number-procent">%</div>
          </div>
          <img
            src="../../assets/fonts/63a1773692843cb5c4b68d11_agent.svg"
            alt
            class="properties__icon"
          />
          <div class="overflow-hidden">
            <div class="properties__text">
              Of recent seller contacted only one agent before finding the right
              agent they worked with to sell their home.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section__divider"></div>
  </div>
</section>
