
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
  
.section--opportunity {
   font-family: "Poppins", sans-serif !important;
   color:  #07153D;
   
} 

.container{
    padding: 0;
    margin: 0;
    color:  #07153D;
}

.horizontal-scroll {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer/Edge */
    scroll-behavior: smooth; /* Add smooth scroll behavior */
    -webkit-overflow-scrolling: touch; /* For smoother scrolling on iOS devices */
    scroll-snap-type: x mandatory; /* Enable snapping to each div */
  }
  
  .scroll-column {
    flex: 0 0 auto;
   
    scroll-snap-align: start; /* Snap each column to the start */
  
   
  }

  .horizontal-scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
  

  .row.no-gutters {
    display: flex !important;
    white-space: nowrap;
  }
  
  .col {
    display: inline-block;
    vertical-align: top;
    width: 400px; /* Adjust the width as needed */
    margin-right: 30px; /* Add spacing between columns */
  }

  p{
    align-items: center;
    
  }

  
  @media (max-width: 576px) { /* Adjust the breakpoint as needed */
    .p-mobile {
      font-size: 14px; /* Adjust the font size as needed */
    }
  }


  


  